*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tahoma', sans-serif;
}

body, html{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#canvas{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#canvas:hover{
  cursor: grab;
}

#canvas:active{
  cursor: grabbing;
}

nav{
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 4rem;
}

h1{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}